.page {
  --content-cols: 4 / 10;

  width: 100%;
  min-height: inherit;

  &.variant-home {
    --content-cols: 3 / 11;
  }

  &.variant-small {
    --content-cols: 5 / 9;
  }

  &.nav {
    .page-content {
      padding-bottom: calc(61px + var(--spacing-xl));
    }
  }

  & > .content-track {
    min-height: inherit;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;

    & > .content-limiter {
      min-height: inherit;
      width: 100%;
      max-width: 1440px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
      column-gap: 40px;

      & > .page-content {
        box-sizing: border-box;
        padding-top: var(--spacing-4xl);
        min-height: inherit;
        grid-row: 1;
        grid-column: var(--content-cols);
        display: flex;
        flex-flow: column;
        align-items: center;

        & > footer {
          padding-top: var(--spacing-3xl);
          padding-bottom: var(--spacing-3xl);
        }

        .enrollment-step {
          margin-bottom: var(--spacing-xl);
        }

        & > .logo {
          padding-bottom: var(--spacing-6xl);
        }

        & > header {
          h1 {
            font: var(--t-title-h1);
            text-align: center;
          }

          p,
          span {
            text-align: center;
            color: var(--fg-neutral);
            font: var(--t-body-primary-400);
          }
        }
      }
    }
  }
}
