@use '@scssutils' as *;

#token-page {
  @include media-breakpoint-up(lg) {
    padding: 100px 50px;
  }

  & > * {
    max-width: 920px;
  }

  & > .logo-container {
    display: none;
    margin-bottom: 30px;
    @include media-breakpoint-up(lg) {
      display: flex;
      margin-bottom: 100px;
    }
  }

  .controls {
    // FIXME Add responsive :)
    display: grid;
    height: 60px;
    grid-template-rows: 60px;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 50px;

    @include media-breakpoint-up(md) {
      padding: 0 135px;
    }

    &.single {
      grid-template-columns: 1fr;
    }

    .btn {
      .arrow-single {
        height: 36px;
        width: 36px;
        svg {
          g {
            fill: var(--surface-icon-primary);
          }
        }
      }
      &.variant-primary {
        .arrow-single {
          svg {
            g {
              fill: var(--surface-icon-secondary);
            }
          }
        }
      }
    }
  }
}
