.big-info-box {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid var(--surface-tag-modal);
  box-sizing: border-box;
  padding: 20px;

  & > .icon-container {
    display: flex;
    align-items: center;

    & > svg {
      width: 42px;
      height: 42px;
    }
  }

  .message {
    box-sizing: border-box;
    p,
    span,
    b,
    strong {
      @include typography(infobox-message);
    }

    b,
    strong {
      font-weight: 700;
    }

    p,
    span {
      color: inherit;
      max-width: 100%;
      white-space: normal;
    }
  }
}
