[Unit]
Description=defguard proxy service
Documentation=https://defguard.gitbook.io/defguard/
Wants=network-online.target
After=network-online.target

[Service]
DynamicUser=yes
User=defguard
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/defguard-proxy --config /etc/defguard/proxy.toml
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2
TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
