@use '@scssutils' as *;

#main-page {
  @include media-breakpoint-up(lg) {
    padding: 100px 50px;
    padding-bottom: 50px;
  }

  & > * {
    max-width: 920px;
  }

  & > .logo-container {
    @include media-breakpoint-up(lg) {
      display: flex;
      margin-bottom: 50px;
    }
  }

  & > .card {
    box-sizing: border-box;

    width: 100%;
    padding: 55px;
    padding-left: 0;
    padding-right: 0;

    @include media-breakpoint-up(md) {
      padding: 55px;
      width: auto;
    }

    .message-box {
      margin-bottom: 20px;
    }

    form {
      & > * {
        width: 100%;
      }
    }
  }
}

#setup-method-step {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  row-gap: 25px;

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 0;
    align-items: start;
    justify-content: center;
  }

  :nth-child(1) {
    .logo-wrapper {
      svg {
        // width: 212px;
        width: 216px;
        height: auto;
      }
    }
  }
}
