#enrollment-start-page .page-content {
  .container-with-icon {
    width: 100%;

    header {
      padding-bottom: var(--spacing-2xl);

      p {
        font: var(--t-body-sm-400);
        color: var(--fg-neutral);
      }
    }
  }

  .divider {
    padding: var(--spacing-lg) 0;
  }
}
