.oidc-button-link {
  text-decoration: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  user-select: none;
}

.oidc-button {
  --border-color: var(--border-default);
  --background-color: var(--bg-default);

  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  column-gap: var(--spacing-sm);
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: var(--spacing-sm) var(--spacing-lg);
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  cursor: pointer;
  border-radius: var(--radius-md);

  @include animate(border-color, background-color);

  &:hover {
    --background-color: var(--bg-muted);
    --border-color: var(--border-emphasis);
  }

  span {
    font: var(--t-body-sm-500);
    color: var(--fg-default);
  }
}
