.input {
  & > .inner {
    position: relative;
    box-sizing: border-box;

    &.error {
      padding-bottom: var(--form-field-error-space);
    }

    .field-label {
      cursor: pointer;
      user-select: none;
    }

    .field-error {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .track {
      --outline-width: 0;
      --border-color: var(--border-default);
      --background-color: var(--bg-default);
      --input-size: var(--input-size-primary);

      box-sizing: border-box;
      cursor: pointer;
      border: 1px solid var(--border-color);
      border-radius: var(--input-border-radius);
      position: relative;
      padding: var(--input-spacing-sm) var(--input-spacing-lg);
      display: flex;
      flex-flow: row;
      align-items: center;
      outline: var(--outline-width) solid var(--border-action);
      outline-offset: -2px;

      @include animate(border-color, background-color);

      input {
        font: var(--t-input-text-primary);
        color: var(--fg-default);
        border: none;
        background: none;
        border-radius: 0;
        height: var(--input-size);
        width: 100%;
        margin: 0;
        padding: 0;

        &::placeholder {
          font: var(--t-input-text-primary);
          color: var(--fg-muted);
        }
      }

      &:not(.disabled) {
        &:hover {
          --border-color: var(--border-emphasis);
        }

        &:focus-within {
          --border-colo: var(--border-default);
          --outline-width: 2px;
        }
      }

      &.disabled {
        --border-color: var(--border-disabled);
        --background-color: var(--bg-disabled);

        cursor: not-allowed;
        pointer-events: none;
      }
    }

    &.disabled {
      pointer-events: none;

      & > .field-label {
        cursor: not-allowed;
      }
    }

    &.size-big {
      --input-size: var(--input-size-lg);
    }
  }
}
