@use '@scssutils' as *;

#openid-mfa-page {
  gap: var(--spacing-xs);

  .logo-container {
    padding-bottom: var(--spacing-l);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 440px;
    text-align: center;
    min-height: 340px;

    h1 {
      @include typography(app-welcome-1);
    }

    h2 {
      @include typography(app-welcome-2);
    }

    p {
      @include typography(welcome-h2);
    }

    .error-details {
      max-width: 100%;
      margin: 0;
      box-sizing: border-box;
      padding: 30px 10px 0;

      @include typography(app-code);
    }
  }
}