.field-box {
  --outline-width: 0;
  --border-color: var(--border-default);
  --background-color: var(--bg-default);

  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  column-gap: var(--input-spacing-sm);
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: var(--input-border-radius);
  padding: var(--input-spacing-sm) var(--input-spacing-lg);
  outline: var(--outline-width) solid var(--border-action);
  outline-offset: -2px;

  @include animate(border-color, background-color);

  p,
  span {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.size-default {
    min-height: var(--input-size-primary);

    p,
    span {
      font: var(--t-input-text-primary);
      color: var(--fg-default);
    }
  }

  &.size-lg {
    min-height: var(--input-size-lg);

    p,
    span {
      font: var(--t-input-text-big);
    }
  }

  &.grid-default {
    grid-template-columns: 1fr;
  }

  &.grid-left {
    grid-template-columns: 20px 1fr;
  }

  &.grid-right {
    grid-template-columns: 1fr 20px;
  }

  &.grid-both {
    grid-template-columns: 20px 1fr 20px;
  }

  .placeholder {
    color: var(--fg-muted);
  }

  .interaction-box {
    & > button {
      height: 28px;
      width: 28px;
    }
  }

  &:not(.disabled, .error) {
    &:hover {
      --border-color: var(--border-emphasis);
    }

    &:focus-within {
      --border-colo: var(--border-default);
      --outline-width: 2px;
    }
  }

  &.error {
    --border-color: var(--border-critical);
  }

  &.disabled {
    --border-color: var(--border-disabled);
    --background-color: var(--bg-disabled);

    cursor: not-allowed;
  }
}
