@use '../../../scss/helpers' as *;

.toggle {
  width: 100%;
  display: inline-grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 50px;
  gap: 0;
  opacity: 1;

  & > button {
    grid-row: 1;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
