.page-process-end {
  .icon[data-kind='check-circle'] {
    path {
      fill: var(--fg-success);
    }
  }

  .icon[data-kind='disabled'] {
    path {
      fill: var(--fg-critical);
    }
  }

  .page-content {
    & > svg {
      padding-bottom: 0 !important;
    }

    h1,
    p {
      text-align: center;
    }

    p {
      color: var(--fg-muted);
    }

    .content {
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      flex: none;
      box-sizing: border-box;
      padding: var(--spacing-4xl) 0;
    }
  }
}
