#home-page {
  .page-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;

    h1 {
      font-size: 52px;
      font-weight: 500;
      line-height: 44px;
      text-align: center;
    }

    & > .subtitle {
      text-align: center;
    }

    & > footer {
      margin-top: auto;

      p {
        text-align: center;
        font: var(--t-body-xs-400);
        color: var(--fg-muted);
      }
    }
  }
}
