.admin-contact {
  font: var(--t-body-xs-500);
  color: var(--fg-neutral);

  & > a {
    font: var(--t-body-xs-500);
    color: var(--fg-action);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--fg-action);
    }
  }
}
